.notification {
    width: 250px;
    height: auto;
    background: #e64f4f;
    margin-bottom: 4px;
    color:white;
  }
  
.notificationHeader {
    display: block;
    padding-top: 1px;
    font-weight: bold;
    margin: 0;

}

.notificationMessage {
    display: block;
    padding-top: 1px;
    margin: 0;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0rem 0.5rem;
    color: inherit;
}