<form [formGroup]="addBayGroup">
  <div class="dx-field-value">
    <dx-drop-down-box
          placeholder="Select a value..."
          [dataSource]="bays"
          [(value)]="bayValue"
          [(opened)]="dropdownOpened"
          displayExpr="bayId"
          formControlName="BayName"
        >
        <div *dxTemplate="let data of 'content'">
          <dx-list
            [dataSource]="bays"
            selectionMode="single"
            displayExpr="bayId"
            (onItemClick)="itemClicked($event)">
          </dx-list>
        </div>
    </dx-drop-down-box>
  </div>
  <button type="button" class="btn btn-light" (click)="addBay()">Add Bay</button>
</form>
