<div class="formContainer">
    <div class="inputs">
        <div class="input-container">
            <h4>Uid</h4>
            <input class="input" placeholder="300" [(ngModel)]="uid">
        </div>    
        <div class="input-container">
            <h4>Bay ID</h4>
            <input class="input" placeholder="1A" [(ngModel)]="bayID">
        </div>    
        <div class="input-container">
            <h4>Is Scanner Enabled (true/false)</h4>
            <input class="input" [(ngModel)]="isEnabled">
        </div>
    </div>
    <div class="button">
        <button class="buttonTheme" (click)="addClick()">Add Scanner</button>
    </div>
</div>