.nav-section{
    height: 56px;
    width: 100%;
}
.headerSection {
    height: 86px;
    background: linear-gradient(to bottom right,#e64f4f , rgb(184, 12, 12));
    padding: 20px;
    color: white;
}

.mainContent {
    height: calc(100% - 142px);
}

.mainContentHeader {
    padding-top: 10px;
}